// Keywords: bottleneck with 200 generation post bottleneck 

initialize() {
	initializeMutationRate(1e-7);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 999999); // 100kb
	initializeRecombinationRate(1e-8);
}
1 { sim.addSubpop("p1", 1000); }
9999 late() { p1.outputVCFSample(500, filePath="./bn_90_pre.vcf"); } 
10000 { p1.setSubpopulationSize(100); }
10001 { p1.setSubpopulationSize(1000); }
10001 late() { p1.outputVCFSample(500, filePath="./bn_90_post_01.vcf"); }
10010 late() { p1.outputVCFSample(500, filePath="./bn_90_post_10.vcf"); } 
10025 late() { p1.outputVCFSample(500, filePath="./bn_90_post_25.vcf"); } 
10050 late() { p1.outputVCFSample(500, filePath="./bn_90_post_50.vcf"); } 
10100 late() { p1.outputVCFSample(500, filePath="./bn_90_post_100.vcf"); } 
10200 late() { p1.outputVCFSample(500, filePath="./bn_90_post_200.vcf"); } 
